input {
	width: 90px;
}

table tr td {
	width: 100px;
	height: 25px;
}

table {
	border-collapse: collapse;
}

#cover {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: gray;
	position: fixed;
	z-index: 999;
	opacity: 0.6;
	display: none;
}

#dialog {
	width: 100px;
	height: 60px;
	line-height: 60px;
	background: white;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.99;
    z-index: 100;
    border: 3px solid black;
}

.t-r {
	border-top: 2px solid black;
	border-right: 2px solid black;
}

.b-r {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

.r {
	border-right: 2px solid black;
}

.b {
	border-bottom: 2px solid black;
}

.t-r_red {
	border-top: 2px solid red;
	border-right: 2px solid red;
}

.b-r_red {
	border-bottom: 2px solid red;
	border-right: 2px solid red;
}

.r_red {
	border-right: 2px solid red;
}