	<header>
		<div class="container">
			<h1 class="center">國立臺灣大學台大盃羽球賽競賽章程</h1>
		</div>
	</header>

	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<br>
					<p>一、宗旨：提倡羽球運動，精進羽球技術，提升台大學生羽球運動水準。</p>
					<p>二、指導單位：國立台灣大學。</p>
					<p>三、主辦單位：國立台灣大學體育室。</p>
					<p>四、承辦單位：台灣大學羽球代表隊。</p>
					<p>五、比賽日期：5/23(星期二)18:30~22:00@新體1F羽球場、</p>
					<p class="tab_7">5/25(星期四)18:30~22:00@新體1F羽球場、</p>
					<p class="tab_7">5/27(星期六)09:00~17:00@新體B1桌球室、</p>
					<p class="tab_7">5/28(星期日)09:00~17:00@新體B1桌球室。</p>
					<p>六、比賽地點：校總區新體。</p>
					<p>七、比賽組別：男子單打、男子雙打、女子單打、女子雙打、混合雙打、團體賽。</p>
					<p class="tab_7">個人賽每人最多報名兩組，且不得為同一項。團體賽每人最多報名一組。</p>
					<p>八、參加資格：(一) 國立台灣大學之在校生。</p>
					<p class="tab_7">(二) 本校同學參加2018大運會羽球團體賽上場者不得參賽。</p>
					<p class="tab_7">(三) 本校同學參加2018大運會羽球個人賽晉級決賽者不得參賽。</p>
					<p class="tab_7">(四) 台大羽球代表隊同學入隊滿一年不得參賽。</p>
					<p class="tab_7">(五) 羽球體保生、體資生不得參賽。</p>
					<p class="tab_7">(六) 台大羽球代表隊同學入隊滿一年而退隊，且退隊未滿一年者不得參賽。</p>
					<p>九、報名辦法：(一) 請自行至<a href="index.php">報名系統</a>報名，並下載<a href="receipt.php">繳費收據</a>。</p>
					<p class="tab_7">(二) 報名時間：即日起至4月21日(五)23:59。</p>
					<p class="tab_7">(三) 報名費：各項單打一組250元，各項雙打一組400元，團體賽一組1200元，保險費已包含在內。</p>
					<p>十、繳費辦法：(一) 繳費時間：4/24(一)至4/27(四) 12:30~13:00。</p>
					<p class="tab_7">(二) 繳費地點：校總區舊體大門口。</p>
					<p class="tab_7">(三) 聯絡人：葉采瑄(電話：0910306981、批踢踢ID：tasminyeh)。</p>
					<p>十一、賽程公布：5月10日公布於此報名系統。</p>
					<p>十二、比賽辦法：(一) 比賽方式視報名隊數決定採循環賽或淘汰賽，於抽籤前公布。</p>
					<p class="tab_8">(二) 個人賽預賽採新制21分一局制(11分換邊，不加分)、個人賽複賽及團體賽採新制31分一局制(16分換邊，不加分)。</p>
					<p class="tab_8">(三) 比賽賽程由大會統一抽籤，經排定後不得請求更改，大會可視情況調整場次以利比賽進行，參加選手逾比賽時間五分鐘不出場者，以棄權論，比賽時間以球場掛鐘為準。如賽程提早而選手未出現，在賽程預定時間會做最後一次廣播，如5分鐘內仍未出現則以棄權論，不再廣播提醒。</p>
					<p class="tab_8">(四) 採循環賽時，以下述方法決定循環中勝出的隊伍勝一場得2積分，敗一場得1積分，棄權0積分：</p>
					<p class="tab_10">1. 計算循環內各隊總得分和，積分多者晉級。</p>
					<p class="tab_10">2. 若兩隊總積分相同，則以兩隊比賽結果為依據，以勝者晉級。</p>
					<p class="tab_10">3. 若三隊以上總積分相同，則依下列順序判定：</p>
					<p class="tab_12">(1) 積分相同隊伍之場次之（勝點和）與（負點和）之差，大者為勝。(團體賽適用)</p>
					<p class="tab_12">(2) 積分相同隊伍之場次之（得分和）與（失分和）之差，大者晉級。</p>
					<p class="tab_12">(3) 若再相等，則由大會抽籤決定之。</p>
					<p class="tab_10">4. 凡中途棄權退出比賽或經大會判定失格之球隊，其比賽成績不予計算，以後之出賽權亦予取消。<br>
					<p class="tab_8">(五) 各組報名隊數不足四隊以上者，取消該組比賽，報名費退還。</p>
					<p class="tab_8">(六) 團體賽預賽、複賽均採五點總累計分數計算勝負，若累計分數相同，再以勝點數多的一方為勝。</p>
					<p class="tab_8">(七) 團體賽採男女混合五點制，任何選手均不得兼點。</p>
					<p class="tab_8">(八) 團體賽每隊最多報名12人。</p>
					<p class="tab_8">(九) 團體賽出場序為男單、女單、男雙、女雙、混雙，大會有權調整出場順序，球隊不得異議。</p>
					<p class="tab_8">(十) 團體賽若比賽人數不足需排空點棄賽時，棄點之後的點數皆以棄權論。</p>
					<p>十三、注意事項：(一) 比賽時如遇特殊事故必需改期或補賽時，得由大會競賽組宣布，各參加隊伍必須遵守。</p>
					<p class="tab_8">(二) 不服從裁判及裁判長之判決及不遵守大會規定者，得取消其比賽資格。</p>
					<p class="tab_8">(三) 如有抗議事件，須於事實發生後半小時內具正式抗議書送達大會審查，並繳交保證金新臺幣伍佰元，以大會之判決為終結，不得再行抗議，抗議成立後保證金退還。</p>
					<p class="tab_8">(四) 為免除冒名頂替等糾紛事件發生，各組球員於出賽時，請務必攜帶學生證，以備查驗。無身份證明文件者，大會得取消其參賽資格。</p>
					<p class="tab_8">(五) 雙修生得以在本系和雙修科系間擇一代表出賽，請於報名時提出任何可證明之文件。研究所為此系直屬研究所可合報，若研究所與系不同名，請提出相關證明文件。</p>
					<p class="tab_8">(六) 目前認定可以合報之科系為：社工社會聯隊、物職治聯隊、植昆聯隊、農化生技聯隊。如尚有無法依正常程序報名者，可提出相關證明(如：曾以聯隊名義參加全國級的比賽)向大會申請聯隊報名。</p>
					<p class="tab_8">(七) 不得三系所以上合報一隊。合報之兩系所不能再以各自系所名義報名團體賽，且合報的系所僅能以聯隊名義報名一支隊伍。</p>
					<p class="tab_8">(八) 比賽時請穿著運動服裝，標準請參考"國立大學綜合體育館使用須知手冊"中<多功能球場使用須知>之規定，未符合綜合體育館規定之標準服裝者不得上場。</p>
					<p class="tab_8">(九) 本次比賽除不可抗拒因素及大會疏失之外，將沒有取消報名及退費機制，請各位選手報名前多加考量出賽時程與自身的時間安排等相關問題。</p>
					<p class="tab_8">(十) 有任何疑問者，請在臉書"<a href="https://www.facebook.com/ntubadminton2012" target="_blank">台灣大學羽球校隊</a>"粉絲專頁留言詢問，將會盡快回覆您。</p>
					<p class="tab_8">(十一) 本次賽程安排預計5/23、5/25為團體賽；5/27、5/28為個人賽，大會競賽組得再視最終報名情況予以調整。</p>
					<p class="tab_8">(十二) 所有疑義，大會保有最後裁決權。</p>
					<p>十四、獎勵：各組優勝隊伍由大會頒發獎盃、獎狀、獎品。</p>
					<p>十五、備註：於報名系統填寫報名資料及繳費完才視為正式完成報名，未於規定時間內完成報名之隊伍不具參賽權利。</p>
					<br>
					<div class="center"><a href="index.php"><button>返回首頁</button></a></div>
				</div>
			</div>
		</div>
	</section>