	<div class="row">
		<div class="col-sm-1 col-sm-offset-11">
			<a href="index.php?service=logout"><h4>登出</h4></a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-2">
			<a href="index.php?route=update_paystat"><h4>更新繳費狀態</h4></a><br>
			<p>開放繳費之後在這裡更新繳費狀態，更新完畢之後使用者可以直接查到最新的繳費狀態。</p>
		</div>
		<div class="col-sm-2">
			<a href="index.php?route=update_playerdata"><h4>編輯選手資料</h4></a><br>
			<p>若有選手想要取消報名，或是無法透過報名系統報名，可以從這裡進入編輯報名資料。</p>
		</div>
		<div class="col-sm-2">
			<a onclick="check_check()"><h4>確認比賽名單</h4></a><br>
			<p>繳費截止之後在這裡確認比賽名單，將會清除所有尚未繳費的參賽者報名資料。</p>
		</div>
		<div class="col-sm-2">
			<a href="index.php?route=output"><h4>輸出比賽名單</h4></a><br>
			<p>確認比賽名單之後在這裡輸出比賽名單，將會把所有參賽者的報名資料輸出成excel檔。</p>
		</div>
	</div>
	<br><br><br>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-2">
			<a onclick="check_clear()"><h4>清空報名資料</h4></a><br>
			<p>比賽結束之後在這裡清除報名資料，將會清除所有參賽者的報名資料並初始化資料庫。</p>
		</div>
		<div class="col-sm-2">
			<a onclick="enter_tournament()"><h4>進入賽程系統</h4></a><br>
			<p>確認比賽名單之後進入這裡進行後續賽程規劃，將會產生賽程並輸出主審單。</p>
		</div>
		<div class="col-sm-2">
			<a onclick="close_signup()"><h4>關閉報名功能</h4></a><br>
			<a onclick="open_signup()"><h4>開啟報名功能</h4></a><br>
		</div>
		<div class="col-sm-2">
			<a onclick="close_member()"><h4>關閉團賽名單</h4></a><br>
			<a onclick="open_member()"><h4>開啟團賽名單</h4></a><br>
		</div>
	</div>
	<script>
		function check_clear() {
			if (confirm("確定要清空報名資料?") == true) location.replace("index.php?service=clearList");
		}
		function check_check() {
			if (confirm("確定要確認比賽名單?") == true) location.replace("index.php?service=checkList");
		}
		function close_signup() {
			if (confirm("確定要關閉報名功能?") == true) location.replace("index.php?service=closeSignup");
		}
		function open_signup() {
			if (confirm("確定要開啟報名功能?") == true) location.replace("index.php?service=openSignup");
		}
		function close_member() {
			if (confirm("確定要關閉團賽名單?") == true) location.replace("index.php?service=closeMember");
		}
		function open_member() {
			if (confirm("確定要開啟團賽名單?") == true) location.replace("index.php?service=openMember");
		}
		function enter_tournament() {
			var request = new XMLHttpRequest();
			request.open("POST", "tournament/index.php");
			var data = "event=login&account=NTUcup&password=0986036999";
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					alert(data);
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						location.assign("tournament/index.php");
					}
					else {
						alert(data.message);
					}
				}
			}
		}
	</script>
</body>
